

.content-wrapper{
    margin: 0 auto;
    max-width: 1300px;
    overflow: hidden;
    width: 100%;
    /* background-color: yellow; */
    height: 100%;
} 

.marginWidth{
   margin-left: 40px;
   margin-right: 40px;
   /* background-color: yellow; */
}

@media only screen and (max-width:566px){
    .marginWidth{
        margin-left: 0px;
        margin-right: 0px;
        /* background-color: yellow; */
     }
    .margintopDiv{
        position: relative;
        top: 60px;
    }

 

    .margintopDivImg{
        display: none;
    }

    .titleText{
        font-size: 24px;
        color: black;
        line-height: 29px;
        font-weight: 600;
        text-align: center;
    }

    .subText{
        font-size: 16px;
        color: black;
        line-height: 21px;
        font-weight: 600;
        text-align: center;
    }

    .bottommarginofdiv{
        margin-bottom: 80px;
    }
    .cardDiv{
        /* width: 450px; */
        position: relative;
        /* left: 15%; */
        background-color: #FBFBFB;
        box-shadow: 0px 4px 20px #00000029;
        border-radius: 30px;
    }
    .buttonClassForm{
        width: 102%;
        height: 42px;
        background: linear-gradient(180deg, #FF6E4E 0%, #FF6E4E 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 8px #00000029;
        opacity: 1;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: #ffffff;
        border-radius: 10px;
        position: relative;
        top: 30px;
        margin-bottom: 50px;
    }

    .formText{
        font-size: 14px;
        color: black;
        /* line-height: 18px; */
        font-weight: 600;
        /* margin-bottom:5px; */
    }
    .cardTitle{
        font-size: 24px;
        color: black;
        line-height: 29px;
        font-weight: 600;
        text-align: center;
    }

    .cardSubTitle{
        font-size: 16px;
        color: black;
        line-height: 21px;
        font-weight: 400;
        text-align: center;
    }

}

@media only screen and (min-width:1366px){

    .budgetClass{
        width: 100%;
    /* margin-top: 5px;
    margin-bottom: 10px; */
    border: 1px solid gray;
    height: 25px;
    }
   
    .yesNoForm{
        font-size: 14px;
        color: black;
        line-height: 18px;
        font-weight: 400;
    }
    .buttonClassForm:disabled{
        opacity: 0.8;
        cursor:default;
    }
    .buttonClassForm{
        width: 102%;
        height: 42px;
        background: linear-gradient(180deg, #FF6E4E 0%, #FF6E4E 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 8px #00000029;
        opacity: 1;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: #ffffff;
        border-radius: 10px;
        position: relative;
        top: 30px;
        margin-bottom: 50px;
    }
    .cardDiv{
        width: 400px;
        position: relative;
    left: 15%;
    background-color: #FBFBFB;
box-shadow: 0px 4px 20px #00000029;
border-radius: 30px;
    }
    .margintopDiv{
        position: relative;
        top: 50px;
    }

    .margintopDivImg{
        position: relative;
        top: 20px;
        margin-bottom: 210px;
        width: 80%;
    }

    .formText{
        font-size: 14px;
        color: black;
        /* line-height: 18px; */
        font-weight: 600;
        margin-bottom:5px;
    }

    .titleText{
        font-size: 36px;
        color: black;
        line-height: 42px;
        font-weight: 600;
    }

    .subText{
        font-size: 22px;
        color: black;
        line-height: 27px;
        font-weight: 600;
    }

    .cardTitle{
        font-size: 24px;
        color: black;
        line-height: 29px;
        font-weight: 600;
        text-align: center;
    }

    .cardSubTitle{
        font-size: 16px;
        color: black;
        line-height: 21px;
        font-weight: 400;
        text-align: center;
    }
}

@media only screen and (min-width:1025px) and (max-width:1365px){

    .budgetClass{
        width: 100%;
    /* margin-top: 5px;
    margin-bottom: 10px; */
    border: 1px solid gray;
    height: 25px;
    }
   
    .yesNoForm{
        font-size: 14px;
        color: black;
        line-height: 18px;
        font-weight: 400;
    }
    .buttonClassForm:disabled{
        opacity: 0.8;
        cursor:default;
    }
    .buttonClassForm{
        width: 102%;
        height: 42px;
        background: linear-gradient(180deg, #FF6E4E 0%, #FF6E4E 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 8px #00000029;
        opacity: 1;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: #ffffff;
        border-radius: 10px;
        position: relative;
        top: 30px;
        margin-bottom: 50px;
    }
    .cardDiv{
        width: 400px;
        position: relative;
    left: 15%;
    background-color: #FBFBFB;
box-shadow: 0px 4px 20px #00000029;
border-radius: 30px;
    }
    .margintopDiv{
        position: relative;
        top: 150px;
    }

    .margintopDivImg{
        position: relative;
        top: 200px;
        margin-bottom: 210px;
        width: 80%;
    }

    .formText{
        font-size: 14px;
        color: black;
        /* line-height: 18px; */
        font-weight: 600;
        margin-bottom:5px;
    }

    .titleText{
        font-size: 36px;
        color: black;
        line-height: 42px;
        font-weight: 600;
    }

    .subText{
        font-size: 22px;
        color: black;
        line-height: 27px;
        font-weight: 600;
    }

    .cardTitle{
        font-size: 24px;
        color: black;
        line-height: 29px;
        font-weight: 600;
        text-align: center;
    }

    .cardSubTitle{
        font-size: 16px;
        color: black;
        line-height: 21px;
        font-weight: 400;
        text-align: center;
    }
}

@media only screen and (min-width:1000px) and (max-width:1024px){

    .budgetClass{
        width: 100%;
    /* margin-top: 5px;
    margin-bottom: 10px; */
    border: 1px solid gray;
    height: 25px;
    }
   
    .yesNoForm{
        font-size: 14px;
        color: black;
        line-height: 18px;
        font-weight: 400;
    }
    .buttonClassForm:disabled{
        opacity: 0.8;
        cursor:default;
    }
    .buttonClassForm{
        width: 102%;
        height: 42px;
        background: linear-gradient(180deg, #FF6E4E 0%, #FF6E4E 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 8px #00000029;
        opacity: 1;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: #ffffff;
        border-radius: 10px;
        position: relative;
        top: 30px;
        margin-bottom: 50px;
    }
    .cardDiv{
        width: 400px;
        position: relative;
    left: 5%;
    background-color: #FBFBFB;
box-shadow: 0px 4px 20px #00000029;
border-radius: 30px;
    }
    .margintopDiv{
        position: relative;
        top: 150px;
    }

    .margintopDivImg{
        position: relative;
        top: 200px;
        margin-bottom: 210px;
        width: 80%;
    }

    .formText{
        font-size: 14px;
        color: black;
        /* line-height: 18px; */
        font-weight: 600;
        margin-bottom:5px;
    }

    .titleText{
        font-size: 36px;
        color: black;
        line-height: 42px;
        font-weight: 600;
    }

    .subText{
        font-size: 22px;
        color: black;
        line-height: 27px;
        font-weight: 600;
    }

    .cardTitle{
        font-size: 24px;
        color: black;
        line-height: 29px;
        font-weight: 600;
        text-align: center;
    }

    .cardSubTitle{
        font-size: 16px;
        color: black;
        line-height: 21px;
        font-weight: 400;
        text-align: center;
    }
}
@media only screen and (min-width:768px) and (max-width:1023px){

    .budgetClass{
        width: 100%;
    /* margin-top: 5px;
    margin-bottom: 10px; */
    border: 1px solid gray;
    height: 25px;
    }
   
    .yesNoForm{
        font-size: 14px;
        color: black;
        line-height: 18px;
        font-weight: 400;
    }
    .buttonClassForm:disabled{
        opacity: 0.8;
        cursor:default;
    }
    .buttonClassForm{
        width: 102%;
        height: 42px;
        background: linear-gradient(180deg, #FF6E4E 0%, #FF6E4E 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 8px #00000029;
        opacity: 1;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: #ffffff;
        border-radius: 10px;
        position: relative;
        top: 30px;
        margin-bottom: 50px;
    }
    .cardDiv{
        width: 300px;
        position: relative;
    /* left: 5%; */
    background-color: #FBFBFB;
box-shadow: 0px 4px 20px #00000029;
border-radius: 30px;
    }
    .margintopDiv{
        position: relative;
        top: 150px;
    }

    .margintopDivImg{
        position: relative;
        top: 200px;
        margin-bottom: 210px;
        width: 80%;
    }

    .formText{
        font-size: 14px;
        color: black;
        /* line-height: 18px; */
        font-weight: 600;
        margin-bottom:5px;
    }

    .titleText{
        font-size: 28px;
        color: black;
        line-height: 33px;
        font-weight: 600;
    }

    .subText{
        font-size: 18px;
        color: black;
        line-height: 23px;
        font-weight: 600;
    }

    .cardTitle{
        font-size: 22px;
        color: black;
        line-height: 27px;
        font-weight: 600;
        text-align: center;
    }

    .cardSubTitle{
        font-size: 14px;
        color: black;
        line-height: 19px;
        font-weight: 400;
        text-align: center;
    }
}

@media only screen and (min-width:567px) and (max-width:767px){

    

    .budgetClass{
        width: 100%;
    /* margin-top: 5px;
    margin-bottom: 10px; */
    border: 1px solid gray;
    height: 25px;
    }
   
    .yesNoForm{
        font-size: 14px;
        color: black;
        line-height: 18px;
        font-weight: 400;
    }
    .buttonClassForm:disabled{
        opacity: 0.8;
        cursor:default;
    }
    .buttonClassForm{
        width: 102%;
        height: 42px;
        background: linear-gradient(180deg, #FF6E4E 0%, #FF6E4E 100%) 0% 0% no-repeat padding-box;
        box-shadow: 0px 4px 8px #00000029;
        opacity: 1;
        border: none;
        cursor: pointer;
        font-size: 14px;
        color: #ffffff;
        border-radius: 10px;
        position: relative;
        top: 30px;
        margin-bottom: 50px;
    }
    .cardDiv{
        width: 300px;
        position: relative;
    /* left: 5%; */
    background-color: #FBFBFB;
box-shadow: 0px 4px 20px #00000029;
border-radius: 30px;
    }
    .margintopDiv{
        position: relative;
        top: 150px;
    }

    .margintopDivImg{
        position: relative;
        top: 200px;
        margin-bottom: 210px;
        width: 80%;
    }

    .formText{
        font-size: 14px;
        color: black;
        /* line-height: 18px; */
        font-weight: 600;
        margin-bottom:5px;
    }

    .titleText{
        font-size: 28px;
        color: black;
        line-height: 33px;
        font-weight: 600;
    }

    .subText{
        font-size: 18px;
        color: black;
        line-height: 23px;
        font-weight: 600;
    }

    .cardTitle{
        font-size: 22px;
        color: black;
        line-height: 27px;
        font-weight: 600;
        text-align: center;
    }

    .cardSubTitle{
        font-size: 14px;
        color: black;
        line-height: 19px;
        font-weight: 400;
        text-align: center;
    }
}

.inputClass
{
    width: 100%;
margin-top: 5px;
margin-bottom: 10px;
border: 1px solid gray;
height: 25px;
/* position: relative; */
/* top: 5px; */
}