
<div class="content-wrapper" style="background-color: #595957;">
    <div class="marginWidth">
        <nav class="uk-navbar-container uk-visible@s" uk-navbar style="background-color: #595957;">

            <div class="uk-navbar-left">
        
                <ul class="uk-navbar-nav">
                    <li ><a  class="footertext" href="#">Copyright © 2020. All Rights Reserved.</a></li>
                   
                </ul>
        
            </div>
        
            <div class="uk-navbar-right">
        
                <ul class="uk-navbar-nav">
                    <li><a  class="footertext" href="#">HOME</a></li>
                    
                    <li><a  class="footertext" href="#">FEATURES</a></li>
                    <li><a  class="footertext" href="#">TERMS</a></li>
                    <li><a  class="footertext" href="#">PRIVACY</a></li>
                    <li><a  class="footertext" href="#">CONTACT US</a></li>
                    <li>
                        <a href=""  class="footertext" uk-icon="icon: facebook"></a>

                    </li>
                    <li>
                        <a href=""  class="footertext" uk-icon="icon: instagram"></a>

                    </li>
                    <li>
                        <a href=""  class="footertext" uk-icon="icon: twitter"></a>

                    </li>
                </ul>
        
            </div>
        
        </nav>
        <div class="uk-hidden@s uk-text-center" style="margin-top: 20px; margin-bottom: 30px;">
            <a  class="footertextMob" href="#">Copyright © 2020. All Rights Reserved.</a>
            <div class="uk-child-width-expand uk-text-center" uk-grid
            style="position:relative; top:20px;">
                <div>
                    <div class="">
                        <a href=""  class="footertextMob" uk-icon="icon: facebook"></a>
                    </div>
                </div>
                <div>
                    <div class="">
                        <a href=""  class="footertextMob" uk-icon="icon: instagram"></a>
                    </div>
                </div>
                <div>
                    <div class="">
                        <a href=""  class="footertextMob" uk-icon="icon: twitter"></a>
                    </div>
                </div>
              
            </div>
            <div class="uk-child-width-expand uk-text-center" uk-grid
            style="position:relative; top:20px;">
                <div>
                    <div class="footertextMob">HOME</div>
                </div>
                <div>
                    <div class="footertextMob">FEATURES</div>
                </div>
                <div>
                    <div class="footertextMob">TERMS</div>
                </div>
            </div>
            <div class="uk-child-width-expand uk-text-center" uk-grid
            style="position:relative; top:15px;">
                <div>
                    <div class="footertextMob">PRIVACY</div>
                </div>
                <div>
                    <div class="footertextMob"></div>
                </div>
                <div>
                    <div class="footertextMob">CONTACT US</div>
                </div>
              
            </div>
        </div>
    </div>
</div>

