<div class="content-wrapper">
  <div class="marginWidth" >
      <app-header></app-header>
      <div id="" *ngIf="_router.url === '/'" style="height: 300px;">
      <div class="uk-text-center" style="position: relative; top: 150px;">
        <button (click)="onSubmit()" class="buttonClassHome" >Book a Demo</button>  
      </div>
      </div>
      <router-outlet></router-outlet>
  </div>
</div>
<app-second-component></app-second-component>
<app-third-component></app-third-component>
<div style="background-color: #595957;">
  <app-footer></app-footer>
</div>
