<div class="content-wrapper">
    <div class="marginWidth">
        <div class="uk-child-width-expand@s" uk-grid>
            <div>
                <div class="" style="position: relative;">
                    <p class="container1 uk-visible@s	" style="position: relative; top: 90px;">
                        The <span style="color: #38CCF5;">Benefits</span> of using Filed
                    </p>
                    <p class="uk-hidden@s uk-text-center container1">
                        The <span style="color: #38CCF5;">Benefits</span> of using Filed
                    </p>
                </div>
            </div>
            <div>
                <div class="my-auto" style="margin-bottom: 120px;">
                    <ul>
                        <li style="position: relative; top: 40px;">
                            Ability to scale using Dexter, our AI-powered marketing genius.
                        </li>
                        <li style="position: relative; top: 60px;">
                            Client Success Manager who will optimize your Facebook ad campaigns and focus on driving the best possible results for you.
                        </li>
                        <li style="position: relative; top: 80px;">
                            This is a limited time offer only.
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
